<div class="global-container">
  <div class="header">
    <div id="img-bckg"></div>
    <div id="noise-bckg"></div>

    <div class="container header-content">
      <div class="row align-items-center justify-content-center"  style="height: 100%">
        <div class="col-xs-auto">
          <div class="row justify-content-center">
            <img id="logo" src="img/color_logo.png" class="col-xs-auto">
          </div>

          <p class="">abdennour alem</p>

          <div class="row sliding-words">
            <span>[</span>

            <ul></ul>

            <span>]</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <i id="scrollTo" href="#profil" class="fa fa-angle-down fa-5x"></i>
    </div>
  </div>

  <div id="profil" class="profile-content content-margin-around container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xs-auto">
        <h1 class=>Profil</h1>

        <p class="citation">"Les programmes doivent être faits pour être lus par des gens, et occasionnellement pour être exécutés par des machines." - Hal Abelson</p>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col">
        Je suis un développeur web, passionné par
        AngularJS, le langage RUBY et l’apprentissage de
        nouvelles technologies.
        Totalement fullstack, je peux travailler aussi bien
        sur du back, que du front.

      </div>

      <div class="col">

      </div>

      <div class="col">
        <p><i class="fa fa-user fa-2x" aria-hidden="true"></i>ALEM Abdennour</p>
        <p><i class="fa fa-birthday-cake fa-2x" aria-hidden="true"></i>23 ans</p>
        <p><i class="fa fa-compass fa-2x" aria-hidden="true"></i>Lyon</p>
      </div>
    </div>
  </div>
</div>
